*{
	margin:0px; padding:0px;
}
body{
	font-family: 'Open Sans', sans-serif !important;
	}

ul{
margin:0;
padding:0;}

a:hover 
{
	text-decoration:none;
	transition:all 0.5s ease;
}

@media (min-width:1200px)
{
.container {
  max-width: 1254px;
}
}

header .navbar.navbar-expand-lg .navbar-brand .img-fluid {
  width: 230px;
  max-width: 230px;
}

header .navbar.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav.social-nav-icons .btn {
  border: 1px solid #000;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav.social-nav-icons .btn:hover 
{
	background:#f37024;
	color:#fff;
	border-color:#f37024;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav.social-nav-icons li {
  margin: 0px 8px;
}

.contact-btn li {
  display: inline-block;
}


.contact-btn li .btn.btn-primary {
  background: #f37024;
  border-radius: 30px;
  border-color:#f37024;
  font-size: 15px;
  padding: 8px 25px;
  text-transform: uppercase;
}
.contact-btn li .btn.btn-primary:hover 
{
	color:#f37024;
	background:#fff;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
  color: #000;
  padding: 10px 20px;
  font-size: 18px;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link:hover 
{
	 background: #f37024;
	 color:#fff;
}
header  .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 15rem;
}

header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-menu {
  background: #f7f7f7;
  border: 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}



.entire-section 
{
	padding-bottom:60px;
}
.entire-section h1 {
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.entire-section p {
  font-size: 22px;
}

.entire-section .btn.btn-primary {
  background: #f37024;
  border-color: #f37024;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 24px;
  color: #000;
}

.entire-section .btn.btn-primary:hover 
{
	background:#fff;
	color:#f37024;
}

.entire-section .img-fluid {
  margin-bottom: 50px;
}




/*----------------------Start Media Querry--------------------*/


@media (max-width:1200px)
{
	.entire-section h1 {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 30px;
}
header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
  color: #000;
  padding: 8px 15px;
  font-size: 15px;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav.social-nav-icons .btn {
  width: 30px;
  height: 30px;
  padding: 3px;
  font-size: 14px;
}
header .navbar.navbar-expand-lg .navbar-collapse {
  justify-content: right;
  flex-wrap: wrap;
}

}


@media (max-width:992px) 
{
	.navbar-nav.social-nav-icons {
  flex-direction: inherit;
  margin-top:30px;
}
.contact-btn {
  padding-left: 10px;
  padding-top: 12px;
}

header .navbar.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
  color: #000;
  padding: 10px 15px;
  font-size: 18px;
}
header .navbar.navbar-expand-lg .navbar-collapse {
  background: #f7f7f7;
  padding-bottom: 15px;
}
}

@media (max-width:575px)  
{
	.entire-section h1 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.entire-section p {
  font-size: 18px;
}
}